:root {box-sizing: border-box; font-size: 16px;}
*, *::after, *::before {box-sizing: inherit; padding: 0; margin: 0;}
body {background: linear-gradient(to right, rgba(0, 0, 0, 0.803), rgba(0, 0, 0, 0.585)), url('background.jpg') no-repeat fixed center; background-size: cover;}

/* header */
header {
    display: flex; justify-content: space-between; align-items: center; height: 5em; padding: 0.5em 1em;
}
.link {text-decoration: none; font-size: 1em; padding: 0.5em 1em; margin: 0 0 0.5em 0;}
.link--brand {display: flex; align-items: flex-end;}
.link--brand img {height: 2.5em; margin: 0 0.5em 0 0;}
.link--brand span {color: burlywood; font-size: 2em;}
.link--nav {color: skyblue; font-weight: bold;} .link--nav:hover {color: burlywood;}
.join .link {color: burlywood;} .join .link:hover {color: skyblue;}
.link--shop {border: 0.1em solid;}
.menu {font-size: 1.25em; width: 1em; background-color: transparent; border: none; margin: 0 0 0 0.5em; position: fixed; color: transparent;}
#view {rotate: 90deg;}

/* main */
main {
    display: flex; justify-content: space-between; align-items: flex-end; padding: 7em 3em;
}
section, form {width: 100%;}
.main {color: white; display: block;}
.main--subtitle {font-size: 1.5em; font-weight: bold; margin: 0 0 1em 0; color: lightgray;}
.main--title {font-size: 4.5em; color: burlywood;}
.main--description {font-size: 1em; color: gray; margin: 2.5em 0 0 0;}
form {
    display: flex; flex-direction: column; align-items: center;
}
input {font-size: 1em; padding: 0.5em 1em; width: 20em; margin: 1em 0 0 0; border-radius: 0.5em; background-color: burlywood;} input:focus {background-color: white;}
input[type=submit] {font-weight: bold; background-color: darkkhaki;}
input[type=submit]:hover {cursor: pointer; background-color: burlywood;}


@media (max-width: 1024px) {
    :root {font-size: 14px;}
    .main--title {font-size: 3.5em;}
}
@media (max-width: 768px) {
    :root {font-size: 13px;}
    .main--title {font-size: 3em;}
}
@media (max-width: 426px) {
    :root {font-size: 12px;}
    /* header */
    .menu {position: static; color: burlywood; cursor: pointer; }
    #hide {display: none;}
    .link--brand img {height: 2em;}
    .link--brand span{font-size: 1.5em;}
    .nav {position: fixed; top: 5em; right: -100%; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.859); display: flex; flex-direction: column; align-items: center; transition: all 250ms ease;}
    .link--nav {margin: 1.5em 0 0 0;}
    .join .link {font-size: 0.8em;}
    /* main */
    main {flex-direction: column;}
    .main--title {font-size: 2.8em;}
    form {margin: 3em 0 0 0;}
}
@media (max-width: 320px) {
    :root {font-size: 10.5px;}
    .main--title {font-size: 2.5em;}
}